/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
# ext/cleanse/*
# !ext/cleanse/extconf.rb
# !ext/cleanse/cleanse*.c
# !ext/cleanse/cleanse*.h
/lib/cleanse/cleanse.bundle
/lib/cleanse/cleanse.so
/lib/cleanse/cleanse.dll
.vscode/
*.orig
